<!DOCTYPE html>
<html lang="zh-cn">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>实验5_1</title>
 <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
 <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<dic class = "row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">iOS</a></li>
                <li><a href="#">SVN</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</dic>
<div class = "row">
    <div class = "col-md-2">
        <p>标签式的导航菜单</p>
            <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">SVN</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">VB.Net</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">PHP</a></li>
            </ul>
    </div>
    <div class = "col-md-10">
        <div class="row">
            <div class="col-md-5">
                <div id="myCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>   
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="C:\Users\coc\Pictures\wallpaper\71169136_p0.png" alt="First slide">
                        </div>
                        <div class="item">
                            <img src="C:\Users\coc\Pictures\wallpaper\67994735_p0.png" alt="Second slide">
                        </div>
                        <div class="item">
                            <img src="C:\Users\coc\Pictures\Pixiv\ASK\94219701_p0.png" alt="Third slide">
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="#myCarousel" 
                       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                    <a class="carousel-control right" href="#myCarousel" 
                       data-slide="next">&rsaquo;</a>
                </div>
            </div>
            <div class="col-md-7">
                <!-- 标准的按钮 -->
                    <button type="button" class="btn btn-default">默认按钮</button>
                    <!-- 提供额外的视觉效果，标识一组按钮中的原始动作 -->
                    <button type="button" class="btn btn-primary">原始按钮</button>
                    <!-- 表示一个成功的或积极的动作 -->
                    <button type="button" class="btn btn-success">成功按钮</button>
                    <!-- 信息警告消息的上下文按钮 -->
                    <button type="button" class="btn btn-info">信息按钮</button>
                    <!-- 表示应谨慎采取的动作 -->
                    <button type="button" class="btn btn-warning">警告按钮</button>
                    <!-- 表示一个危险的或潜在的负面动作 -->
                    <button type="button" class="btn btn-danger">危险按钮</button>
                    <!-- 并不强调是一个按钮，看起来像一个链接，但同时保持按钮的行为 -->
                    <button type="button" class="btn btn-link">链接按钮</button>
                    <table class="table">
                    <caption>基本的表格布局</caption>
                    <thead>
                        <tr>
                        <th>名称</th>
                        <th>城市</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        </tr>
                        <tr>
                        <td>Sachin</td>
                        <td>Mumbai</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>